# Core
Django
python-dotenv

# API
djangorestframework
djoser

# Real-time
channels==4.0.0
channels-redis==4.2.0
asgiref==3.7.2
daphne==4.1.2  # ASGI server for Django Channels WebSocket support

# Database
psycopg2-binary  # Para PostgreSQL
# sqlite3 já vem com Python

# Game Logic
python-chess

# Caching & Message Broker
redis
django-redis

# Utils
Pillow  # Para processamento de imagens (se necessário)
whitenoise  # Para servir ficheiros estáticos em produção


# Security
django-ratelimit  # Rate limiting para APIs

# CORS
django-cors-headers

# Email
sendgrid  # Para envio de emails (desativado)

python-json-logger

# Testing
pytest
pytest-django